ion-content {
    background: #f1f1f1; 
    color: white; 
  }
  
  ion-item {
    background: #e9eef1; 
  }
  
  ion-button {
    background-color: #00a2ff; 
    color: white;
  }
  
  ion-toolbar {
    background: #0303d6; 
    color: rgb(10, 10, 10);
  }
    