<ion-header>
  <ion-toolbar>
    <ion-title>Guardar Texto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Introduce tu texto</ion-label>
      <ion-textarea [(ngModel)]="texto" name="texto" required></ion-textarea>
    </ion-item>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="!texto"
      (click)="guardarTexto()"
    >
      Guardar Texto
    </ion-button>

    <ion-toast
      *ngIf="mostrarToast"
      [message]="mensajeToast"
      duration="5000"
      position="top"
      color="success"
      (ionToastDidClose)="mostrarToast = false">
    </ion-toast>
  </form>
</ion-content>