<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Bienvenido a mi CV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/imgs/perfil.jpg" alt="Foto de perfil" class="perfil-img"/>

    <ion-card-header>
      <ion-card-title>Erick Villarroel</ion-card-title>
      <ion-card-subtitle>Desarrollador de Software</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Aqui se puede el link del repositorio de como se construyo esta aplicacion. </p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary" href="https://github.com/ErickVillarroel1722" target="_blank">
    Ve desde mi github como construi esta App
  </ion-button>
</ion-content>
